# Local Data & Session Storage
data/
*.csv
*.pkl
*.json
chrome_profile/
# Downloaded Web Drivers
drivers/
*.exe

# Python Virtual Environments
.venv/
venv/
env/

# Python Cache & Bytecode
__pycache__/
*.pyc
*.pyo

# IDEs & OS Files
.vscode/
.idea/
.DS_Store